@import url("https://fonts.googleapis.com/css?family=Overlock");
html {
  font-family: "Overlock", cursive;
}
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  opacity: 0.8;
  transition: 0.3s;
}
.btn:hover {
  opacity: 1.2;
}

button,
input {
  outline: none;
}

.todo::placeholder {
  font-size: 110%;
  font-family: "Overlock";
  opacity: 10;
}

.redtodo::placeholder,
.redtodo input {
  color: #eb3b5a;
}

.greentodo::placeholder,
.greentodo input {
  color: #16a085;
}
.yellowtodo::placeholder,
.yellowtodo input,
.blacktodo::placeholder,
.blacktodo input {
  color: #000;
}
.bluetodo::placeholder,
.bluetodo input {
  color: #2d98da;
}
